#splash{
   height: 100hv;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: blue;
}
#splash button{
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.splash-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#main-content{
    display: none;
}
nav{
    background-color: cornflowerblue;
    padding: 20px;
    text-align: center;
}
nav a{
    color: darksalmon;
    text-decoration: none;
    margin: 15px;
    font-size: 10px;
}
#menu section{
    display: black;
}
body:has(page:target)#menu section{
    display: black;
}
#snacks{
    display: black;
}
body:has(page:target)#snacks{
    display: black;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h1{
    background-color:purple;
    color: deeppink;
    font-style: inherit;
}
.logo{
    text-align: center;
background-color: blue;
}
.suruthi{
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
    direction: row;
    gap: 30px;
    padding: 20px;
}
.card{
    width: 100px;
    background-color: blanchedalmond;
    border: 20px solid black;
    padding: 20px;
}
.card img{
width: 100px;
height: 100px;
}
h3{
    color: brown;
}
p{
    color: aqua;
}
button{
background-color: chartreuse;
}
.gopal{
     display: flex;
    justify-content: center;
     flex-wrap: wrap;
    direction: row;
    gap: 30px;
    padding: 20px;
}
.card{
    width: 100px;
    background-color:green;
    border: 20px solid black;
    padding: 20px;
}
.card img{
width: 100px;
height: 100px;
}
h3{
    color:pink;
}
p{
    color: blue;
}
button{
background-color: yellow;
}
